$spacing-base: 1rem;

$primary: hsl(240, 100%, 50%);
$faded: hsl(0, 0%, 70%);
$light: hsl(0, 0%, 100%);

$white: #ECECE4;
$whitev2: #FFFFFF;
$beige: #D5D5C4;
$beigev2: #FAF5EB;
$beigev3: #F2E9CF;
$black: #484036;
$blackv2: #33302C;
$brown: #413B34;
$grey: #ACB4B8;
$greyv2: #AAAA93;
$darkGrey: #666E72;
$olive: #CACAB0;
$olivev2: #BFBFA3;
$olivev3: #8E8E65;
$darkOlive: #626248;



